@use '../base/variables' as *;

@media (min-width: 768px) {
    body {
        background-image: url('../../images/bg-intro-desktop.png');
    }

    .card__text {
        width: 80%;
    }

    .form {
        padding: em(40px, 16px) 1em;
    }
}

@media (min-width: 1440px) {
    body {
        // background-image: url('../../images/bg-intro-desktop.png');
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header {
        text-align: left;
        margin: 0;
        margin-right: rem(100px);
    }

    main {
        margin: 0;
    }

    .heading {
        font-size: rem(50px);
    }
}