@use '../base/variables' as *;

.button {
    display: block;
    background-color: var(--bg-button);
    color: var(--text-color);
    width: 90%;
    margin: 0 auto 1rem;
    padding: em(22px, 16px);
    border-radius: em(8px, 16px);
    text-transform: uppercase;
    font-weight: var(--fw-semi-bold);
    letter-spacing: 1px;
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.2);
}