@use '../base/variables' as *;

.card {
    background-color: var(--bg-card);
    width: 100%;
    border-radius: em(10px, 16px);
    padding: em(20px, 16px) 0;
    margin-bottom: rem(30px);
    text-align: center;
    box-shadow: 0 8px 0px rgba(0, 0, 0, 0.2);

    &__text {
        font-weight: var(--fw-normal);
        line-height: 1.6;

        &--bold {
            font-weight: var(--fw-semi-bold);
        }
    }
}